name: Deploy Node Application

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker image
        run: docker build -t vivek456vk/nodejs-app ./backend

      - name: Publish image to Docker Hub
        run: docker push vivek456vk/nodejs-app:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull image from Docker Hub
        run: docker pull vivek456vk/nodejs-app:latest

      - name: Delete old container
        run: docker rm -f nodejs-app-container || true

      - name: Run Docker container
        run: |
          docker run -d \
            -p 8080:8080 \
            --name nodejs-app-container \
            --restart always \
            -e MONGO_PASSWORD=${{ secrets.MONGO_PASSWORD }} \
            vivek456vk/nodejs-app:latest
